<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>VuexFire Todo App Demo</title>
    <script src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex/dist/vuex.js"></script>
    <script src="../../dist/vuexfire.js"></script>
  </head>
  <body>

    <!--
      To see a live example, head to
      https://jsfiddle.net/posva/6w3ks04x/
    -->

    <div id="app">
      <ul>
        <li v-for="item in items" :key="item['.id']">
          {{ item.text }}
          <button @click="removeTodo(item['.id'])">X</button>
        </li>
      </ul>
      <form @submit.prevent="addTodo">
        <input v-model="newTodo">
        <button>Add #{{ items.length }}</button>
      </form>

      <br/>
      <br/>

      <button @click="toggleSource">Toggle Source</button>
    </div>

    <script>
    /* global Vue, Vuex, firebase, VuexFire */
    var config = {
      apiKey: "AIzaSyDLzB9l-EhojB4ibze5ryw5Sp-v36_ZElE",
      authDomain: "testing-out-firestore.firebaseapp.com",
      databaseURL: "https://testing-out-firestore.firebaseio.com",
      projectId: "testing-out-firestore",
      storageBucket: "testing-out-firestore.appspot.com",
      messagingSenderId: "925460159146"
    }
    var firebaseApp = firebase.initializeApp(config)
    var db = firebaseApp.firestore()
    var itemsRef = db.collection('test')
    var todosRef = db.collection('test_2')

    var store = new Vuex.Store({
      // VuexFire will check the type of the property to bind as an array or as
      // an object
      strict: true,
      state: { items: [] },
      mutations: VuexFire.firebaseMutations,
      getters: {
        items: state => state.items,
      },
      actions: {
        setItemsRef: VuexFire.firebaseAction(({ bindFirestoreRef }, ref) => {
          bindFirestoreRef('items', ref, { wait: true })
        }),
      },
    })

    window.vm = new Vue({
      el: '#app',
      store: store,
      computed: Vuex.mapGetters([ 'items' ]),
      data: {
        newTodo: '',
        source: null,
      },

      methods: {
        removeTodo (key) {
          this.source.doc(key).delete()
        },
        addTodo () {
          if (this.newTodo.trim()) {
            this.source.add({
              text: this.newTodo,
            })
            this.newTodo = ''
          }
        },
        toggleSource () {
          this.source = this.source === itemsRef
            ? todosRef
            : itemsRef
          this.$store.dispatch('setItemsRef', this.source)
        },
      },

      created () {
        this.source = itemsRef
        this.$store.dispatch('setItemsRef', this.source)
      },
    })
    </script>
  </body>
</html>
